*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit; }

html {
  font-size: 62.5%;
  box-sizing: inherit; }

body {
  display: flex; }

.search-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70rem;
  height: 100vh;
  font-family: 'Pacifico', cursive;
  background: linear-gradient(315deg, #b5d569, #80dbd4);
  box-shadow: 20px 0px 44px 9px rgba(0, 0, 0, 0.67); }
  .search-bar .header {
    position: relative;
    width: 60rem;
    height: 20rem; }
    .search-bar .header .heading-primary {
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 7rem;
      transform: translate(-50%, -50%) rotate(10deg);
      transition: all .3s;
      background: -webkit-linear-gradient(right, #f82add, #f1f504);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      .search-bar .header .heading-primary:hover {
        transform: translate(-50%, -50%) rotate(10deg) scale(1.1); }
  .search-bar .search__name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60rem;
    height: 6rem; }
    .search-bar .search__name .input {
      width: 85%;
      height: 5rem;
      padding: 1rem .5rem;
      font-size: 3rem;
      text-align: center;
      line-height: 1;
      outline: none;
      border: none;
      background: transparent;
      border-bottom: 2px solid rgba(116, 100, 92, 0.6);
      color: rgba(116, 100, 92, 0.6);
      transition: all .3s; }
      .search-bar .search__name .input::placeholder {
        color: rgba(116, 100, 92, 0.6);
        opacity: .5; }
      .search-bar .search__name .input:focus {
        border-bottom: 2px solid #74645c;
        color: #74645c;
        transform: translateY(-1px); }
    .search-bar .search__name .search-icon {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      margin-left: 1rem;
      stroke-width: 0;
      stroke: currentColor;
      fill: rgba(116, 100, 92, 0.6);
      transition: all .4s; }
      .search-bar .search__name .search-icon:hover {
        cursor: pointer;
        transform: scale(1.1) rotate(360deg);
        fill: #74645c; }

.results-box {
  position: relative;
  display: flex;
  width: 60vw;
  min-height: 100vh;
  margin-left: 70rem;
  font-family: 'Pacifico', cursive;
  background-color: #fefefe;
  border: 0.5rem solid rgba(190, 176, 151, 0.4); }
  .results-box .info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    color: rgba(190, 176, 151, 0.4); }
