*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit; }

html {
  font-size: 62.5%;
  box-sizing: inherit; }

body {
  display: flex;
  font-size: 3rem;
  font-family: 'Pacifico', cursive;
  color: #74645c; }

.input {
  width: 85%;
  height: 5rem;
  padding: 1rem .5rem;
  font-size: 3rem;
  text-align: center;
  line-height: 1;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 2px solid rgba(116, 100, 92, 0.6);
  color: rgba(116, 100, 92, 0.6);
  transition: all .3s; }
  .input::placeholder {
    color: rgba(116, 100, 92, 0.6);
    opacity: .5; }
  .input:focus {
    border-bottom: 2px solid #74645c;
    color: #74645c;
    transform: translateY(-1px); }

.btn {
  width: 10rem;
  height: 4rem;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fefefe;
  background: linear-gradient(to right, #f82add, #f1f504);
  border: 2px solid #fefefe;
  border-radius: 2rem;
  outline: none;
  -webkit-box-shadow: 0px 14px 45px -17px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 14px 45px -17px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 14px 45px -17px rgba(0, 0, 0, 0.67);
  transition: all .3s;
  display: none; }
  .btn:hover {
    cursor: pointer;
    transform: translateY(-1px); }
  .btn:active {
    -webkit-box-shadow: 0px 13px 29px -6px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px 13px 29px -6px rgba(0, 0, 0, 0.67);
    box-shadow: 0px 13px 29px -6px rgba(0, 0, 0, 0.67);
    transform: translateY(1px); }

.search-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60rem;
  height: 100vh;
  background: linear-gradient(315deg, #b5d569, #80dbd4); }
  .search-bar .header {
    position: relative;
    width: 60rem;
    height: 20rem; }
    .search-bar .header .heading-primary {
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 7rem;
      transform: translate(-50%, -50%) rotate(10deg);
      transition: all .3s;
      background: -webkit-linear-gradient(right, #f82add, #f1f504);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      .search-bar .header .heading-primary:hover {
        transform: translate(-50%, -50%) rotate(10deg) scale(1.1); }
  .search-bar .search__beer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60rem;
    height: 6rem; }
    .search-bar .search__beer .input, .search-bar .search__beer name {
      width: 85%; }
    .search-bar .search__beer #search-btn {
      background: transparent;
      border: none;
      position: relative;
      outline: none; }
    .search-bar .search__beer .search-icon {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      margin-left: 1rem;
      stroke-width: 0;
      stroke: currentColor;
      fill: rgba(116, 100, 92, 0.6);
      transition: all .4s; }
      .search-bar .search__beer .search-icon:hover {
        cursor: pointer;
        transform: scale(1.1) rotate(360deg);
        fill: #74645c; }
  .search-bar .search__abv, .search-bar .search__ibu, .search-bar .search__ebc {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 60rem;
    height: 7rem;
    margin-left: 5rem; }
    .search-bar .search__abv p, .search-bar .search__ibu p, .search-bar .search__ebc p {
      margin-right: 5rem; }
    .search-bar .search__abv .input, .search-bar .search__abv abv, .search-bar .search__ibu .input, .search-bar .search__ibu abv, .search-bar .search__ebc .input, .search-bar .search__ebc abv {
      width: 7rem;
      margin-right: 5rem; }
    .search-bar .search__abv input[type=number]::-webkit-inner-spin-button, .search-bar .search__ibu input[type=number]::-webkit-inner-spin-button, .search-bar .search__ebc input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none; }

.results-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  flex: 1;
  min-height: 100vh;
  margin-left: 60rem;
  background-color: #fefefe;
  border: 0.5rem solid rgba(190, 176, 151, 0.4); }
  .results-box .info, .results-box .incorrect-data {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    color: rgba(190, 176, 151, 0.4);
    transition: all .4s; }
    .results-box .info:hover, .results-box .incorrect-data:hover {
      transform: translate(-50%, -50%) scale(1.1) rotate(5deg); }
  .results-box .incorrect-data {
    color: #dd5050; }

.beer {
  display: flex;
  width: 95%;
  height: 24rem;
  margin-bottom: 2rem;
  transition: all .3s;
  border-bottom: 3px solid #b5d569; }
  @media (max-width: 1500px) {
    .beer {
      height: 45rem; } }
  .beer .left {
    width: 45rem; }
    .beer .left .beer-name-box {
      display: flex;
      flex-direction: column;
      align-items: left; }
      .beer .left .beer-name-box .beer-name {
        font-size: 2.5rem; }
      .beer .left .beer-name-box .beer-tagline {
        font-size: 1.5rem; }
    .beer .left .properties-box {
      display: flex;
      margin-top: 1rem; }
      .beer .left .properties-box .property {
        width: 13rem;
        height: 4rem;
        margin-right: 2rem;
        background-color: rgba(116, 100, 92, 0.6);
        border-radius: 1rem;
        font-size: 2rem;
        color: #fefefe;
        text-align: center;
        transition: all .3s; }
        .beer .left .properties-box .property:hover {
          transform: translateY(-2px);
          background-color: #74645c; }
  .beer .right {
    flex: 1; }
    .beer .right .description .text {
      font-size: 1.4rem; }
  .beer:hover {
    transform: translateY(-2px); }
